.hl-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.hl-popup {
    background: white;
    padding: 20px 50px;
    border-radius: 12px;
    text-align: center;
    width: 300px;
    position: relative;
}

.hl-popup h3 {
    font-size: 25px;
}

.hl-popup-btn-whatsapp {
    display: flex;
    font-size: 20px;
    width: 200px;
    margin: 25px 0px;
    padding: 15px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    background-color: #25d366;
    color: white;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.hl-popup-btn-whatsapp:hover {
    background-color: rgba(0, 128, 0, 0.769);
}


.hl-popup-btn-whatsapp i {
    color: white;
    font-size: 35px;
}


.hl-popup-btn-call {
    display: flex;
    width: 200px;
    margin: 20px 0;
    padding: 18px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 20px;
    background-color: #29606d;
    color: white;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.hl-popup-btn-call i {
    color: white;
    font-size: 25px;
}

.hl-popup-btn-call:hover {
    background-color: #358395;
}

.hl-close-btn {
    background: transparent;
    color: black;
    border: none;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 40px;
}

.hl-home-loan {
    font-family: "Poppins", sans-serif;
}

/* HERO */
.hl-hero {
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 170px;
    border-bottom: 1px solid black;
}

.hl-hero-left {
    width: 930px;
}

.hl-hero-left img {
    width: 100%;
}

.hl-hero-right {
    position: relative;
    margin-left: 425px;
    margin-top: 90px;
}

.hl-hero-right h1 {
    font-size: 100px;
    color: #1c5d6b;
    position: absolute;
    bottom: 170px;
    right: 25px;
    /* z-index: 1; */
    width: 549px;
}

.hl-hero-right h3 {
    font-size: 48px;
    text-align: end;
    position: absolute;
    right: 27px;
    bottom: 65px;
    width: 525px;
}

.hl-hero-right p {
    width: 410px;
    font-size: 22px;
    text-align: end;
    position: absolute;
    bottom: -60px;
    right: 35px;
}

/* BUTTONS */
.hl-btn-primary {
    background: #009688;
    color: white;
    padding: 23px 66px;
    border-radius: 45px;
    border: none;
    font-size: 27px;
    cursor: pointer;
    position: absolute;
    top: 80px;
    right: 31px;
    width: 300px;
}

.hl-btn-primary:hover {
    background: #00796b;
}


/* ----------- TABLET ----------- */
@media (max-width:1024px) {

    .hl-hero {
        flex-direction: column;
        padding-top: 120px;
        text-align: center;
    }

    .hl-hero-left {
        width: 90%;
    }

    .hl-hero-right {
        margin-left: 0;
        margin-top: 40px;
        width: 90%;
        height: 520px;
    }

    .hl-hero-right h1 {
        font-size: 70px;
        position: absolute;
        bottom: 200px;
        right: 0;
        left: 0;
        margin: auto;
        text-align: center;
    }

    .hl-hero-right h3 {
        font-size: 36px;
        right: 0;
        left: 0;
        text-align: center;
    }

    .hl-hero-right p {
        right: 0;
        left: 0;
        margin: auto;
        text-align: center;
    }

    .hl-btn-primary {
        right: 0;
        left: 0;
        margin: auto;
    }
}



/* ----------- MOBILE ----------- */
@media (max-width:768px) {

    .hl-hero {
        padding-top: 90px;
    }

    .hl-hero-left {
        width: 95%;
    }

    .hl-hero-right {
        height: auto;
        min-height: 480px;
    }

    .hl-hero-right h1 {
        font-size: 42px;
        width: 90%;
        bottom: 180px;
    }

    .hl-hero-right h3 {
        font-size: 24px;
        width: 90%;
        bottom: 90px;
    }

    .hl-hero-right p {
        font-size: 16px;
        width: 85%;
        bottom: 20px;
    }

    .hl-btn-primary {
        padding: 16px 30px;
        font-size: 18px;
        width: auto;
        top: 0;
    }

}



/* ----------- SMALL MOBILE ----------- */
@media (max-width:480px) {

    .hl-hero-right h1 {
        font-size: 34px;
    }

    .hl-hero-right h3 {
        font-size: 20px;
    }

    .hl-hero-right p {
        font-size: 15px;
    }

}


/* FEATURES */
.hl-features {
    width: 100%;
}

/* TITLE */
.hl-section-title {
    text-align: center;
    font-size: 65px;
    margin: 35px 245px;
    width: 900px;
    border-bottom: 2px solid black;
}

.hl-section-title span {
    color: #f6a623;

}

/* FEATURE ROW */
.hl-feature {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
    border-bottom: 1px solid #ddd;
    gap: 80px;
    /* reduced from 250px */
}

/* IMAGE */
.hl-feature img {
    width: 230px;
}

/* TEXT */
.hl-feature-text-right {
    width: 620px;
    text-align: end;
    margin-left: 150px;
}

.hl-feature-text-right h3 {
    font-size: 47px;
    margin-bottom: 10px;
    width: 635px;

}

.hl-feature-text-right p {
    font-size: 30px;
    color: #555;
}

.hl-feature-text-left {
    width: 635px;
    text-align: left;
    margin-right: 200px;
}

.hl-feature-text-left h3 {
    font-size: 47px;
    margin-bottom: 10px;
    width: 635px;

}

.hl-feature-text-left p {
    font-size: 30px;
    color: #555;
}

/* ========================= */
/* LAPTOP */
/* ========================= */
@media (max-width:1400px) {

    .hl-section-title {
        font-size: 52px;
        width: auto;
        margin: 30px 80px;
    }

    .hl-feature {
        gap: 40px;
    }

    .hl-feature img {
        width: 190px;
    }

    .hl-feature-text-left,
    .hl-feature-text-right {
        width: 520px;
    }

    .hl-feature-text-left h3,
    .hl-feature-text-right h3 {
        font-size: 38px;
        width: auto;
    }

    .hl-feature-text-left p,
    .hl-feature-text-right p {
        font-size: 24px;
    }

}


/* ========================= */
/* TABLET */
/* ========================= */
@media (max-width:1000px) {

    .hl-section-title {
        font-size: 40px;
        margin: 25px 40px;
    }

    .hl-feature {
        flex-direction: column;
        text-align: center;
        gap: 25px;
    }

    .hl-feature img {
        width: 160px;
    }

    .hl-feature-text-left,
    .hl-feature-text-right {
        width: 90%;
        margin: 0;
        text-align: center;
    }

    .hl-feature-text-left h3,
    .hl-feature-text-right h3 {
        font-size: 30px;
    }

    .hl-feature-text-left p,
    .hl-feature-text-right p {
        font-size: 20px;
    }

}


/* ========================= */
/* MOBILE */
/* ========================= */
@media (max-width:600px) {

    .hl-section-title {
        font-size: 28px;
        margin: 20px;
    }

    .hl-feature img {
        width: 130px;
    }

    .hl-feature-text-left h3,
    .hl-feature-text-right h3 {
        font-size: 24px;
    }

    .hl-feature-text-left p,
    .hl-feature-text-right p {
        font-size: 17px;
    }

}


/* SUPPORT BANNER */
.hl-support-banner {
    display: flex;
    align-items: center;
    gap: 140px;
    padding: 50px 80px;
    background: #f8fdfd;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.hl-support-banner img {
    width: 380px;
}

.hl-support-banner h3 {
    font-size: 50px;
}

/* LOAN TYPES */
.hl-loan-types {
    display: flex;
    align-items: center;
    padding: 40px 108px;
    gap: 70px;
    border-bottom: 1px solid black;
}

.hl-loan-text h3 {
    font-size: 45px;
    text-align: center;
    margin-right: 80px;
}

.hl-loan-text ul {
    font-size: 30px;
    margin-left: 30px;
    line-height: 1.5;
}

.hl-loan-types img {
    width: 440px;
}

/* ========================= */
/* LAPTOP */
/* ========================= */
@media (max-width:1400px) {

    .hl-support-banner {
        gap: 80px;
        padding: 40px 50px;
    }

    .hl-support-banner img {
        width: 300px;
    }

    .hl-support-banner h3 {
        font-size: 42px;
    }

    .hl-loan-types {
        padding: 35px 60px;
        gap: 50px;
    }

    .hl-loan-types img {
        width: 350px;
    }

    .hl-loan-text h3 {
        font-size: 38px;
    }

    .hl-loan-text ul {
        font-size: 24px;
    }

}


/* ========================= */
/* TABLET */
/* ========================= */
@media (max-width:1000px) {

    .hl-support-banner {
        flex-direction: column;
        text-align: center;
        gap: 25px;
        padding: 40px 30px;
    }

    .hl-support-banner img {
        width: 240px;
    }

    .hl-support-banner h3 {
        font-size: 34px;
    }

    .hl-loan-types {
        flex-direction: column;
        text-align: center;
        padding: 40px 30px;
        gap: 30px;
    }

    .hl-loan-types img {
        width: 260px;
    }

    .hl-loan-text h3 {
        font-size: 32px;
        margin-right: 0;
    }

    .hl-loan-text ul {
        font-size: 22px;
        margin-left: 0;
        text-align: left;
    }

}


/* ========================= */
/* MOBILE */
/* ========================= */
@media (max-width:600px) {

    .hl-support-banner img {
        width: 190px;
    }

    .hl-support-banner h3 {
        font-size: 26px;
    }

    .hl-loan-types img {
        width: 200px;
    }

    .hl-loan-text h3 {
        font-size: 26px;
    }

    .hl-loan-text ul {
        font-size: 18px;
    }

}


/* CTA */
.hl-cta {
    width: 100%;
}

.hl-cta-fam {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 30px 80px;
    border-bottom: 1px solid black;
    position: relative;
    height: 530px;
}

.cta-fam {
    width: 470px;
    height: 470px;
    position: absolute;
    top: 59px;

}


.ct-lo {
    width: 55px;
    height: 60px;
    position: absolute;
    right: 430px;
    top: 85px;
}

.hl-cta-fam h3 {
    font-size: 50px;
    text-align: end;
}

.hl-cta-fam p {
    font-size: 35px;
    text-align: right;
    margin-left: 460px;
    width: 875px;
}

.hl-cta-buttons {
    display: flex;
    justify-content: center;
    gap: 189px;
    margin: 40px 0px;
}

.hl-cta-btn-primary {
    font-size: 35px;
    padding: 20px 60px;
    border-radius: 25px;
    border: none;
    background: #f29a23;
    color: white;
    cursor: pointer;
}

.hl-cta-btn-primary:hover {
    background: #f57c00;
}

.hl-cta-btn-secondary {
    font-size: 35px;
    background: #005f71;
    color: white;
    border: none;
    padding: 20px 60px;
    border-radius: 25px;
}

.hl-cta-btn-secondary:hover {
    background: #00796b;
}

/* ========================= */
/* LAPTOP */
/* ========================= */
@media (max-width:1400px){

.hl-cta-fam{
    padding:30px 50px;
    height:480px;
}

.cta-fam{
    width:380px;
    height:380px;
    top:80px;
}

.ct-lo{
    right:300px;
    top:90px;
}

.hl-cta-fam h3{
    font-size:42px;
}

.hl-cta-fam p{
    font-size:28px;
    margin-left:360px;
    width:650px;
}

.hl-cta-buttons{
    gap:120px;
}

.hl-cta-btn-primary,
.hl-cta-btn-secondary{
    font-size:28px;
    padding:18px 45px;
}

}


/* ========================= */
/* TABLET */
/* ========================= */
@media (max-width:1000px){

.hl-cta-fam{
    flex-direction:column;
    text-align:center;
    height:auto;
    padding:40px 30px;
}

.cta-fam{
    position:relative;
    width:300px;
    height:300px;
    top:0;
}

.ct-lo{
    position:relative;
    right:auto;
    top:auto;
    margin-top:10px;
}

.hl-cta-fam h3{
    font-size:34px;
    text-align:center;
}

.hl-cta-fam p{
    font-size:22px;
    margin-left:0;
    width:100%;
    text-align:center;
}

.hl-cta-buttons{
    flex-direction:column;
    gap:25px;
}

.hl-cta-btn-primary,
.hl-cta-btn-secondary{
    font-size:22px;
    padding:16px 40px;
}

}


/* ========================= */
/* MOBILE */
/* ========================= */
@media (max-width:600px){

.cta-fam{
    width:220px;
    height:220px;
}

.hl-cta-fam h3{
    font-size:26px;
}

.hl-cta-fam p{
    font-size:18px;
}

.hl-cta-btn-primary,
.hl-cta-btn-secondary{
    font-size:18px;
    padding:14px 28px;
}

}
