/* * {
  box-sizing: border-box;
}

.body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #1f3b3b;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.hero-text h1 {
  font-size: 45px;
  color: #29606d;
  margin-left: 45px;
}

.hero-text p {
  margin: 20px 45px;
  color: #036a0a;
  font-size: 171%;
  margin-top: -28px
}

.hero-button-group {
  display: flex;
  gap: 25px;
  margin-left: 3px;
  flex-direction: column;
}

.hero-button1 {
  margin-left: 45px;
  width: 224px;
}

.hero-button1 button {
  display: flex;
  padding: 10px 30px;
  border-radius: 25px;
  cursor: pointer;
  width: 254px;
  font-size: 23px;
  align-items: center;
  gap: 15px;
}

.hero-button1 button i {
  margin-left: 12px;
  border-radius: 26px;
  background-color: #34d840;
  color: white;
  height: 42px;
  width: 42px;
  padding: 10px;
}

.hero-button1 button:hover {
  background-color: #3c7582 !important;

}

.hero-button2 {
  margin-left: 45px;
  width: 224px;
}

.hero-button2 button:hover {
  background-color: #f9c06a !important;
}

.hero-image img {
  width: 583px;
  margin-top: 6%;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup {
  background: white;
  padding: 20px 50px;
  border-radius: 12px;
  text-align: center;
  width: 300px;
  position: relative;
}

.popup h3 {
  font-size: 25px;
}

.popup-btn-whatsapp {
  display: flex;
  font-size: 20px;
  width: 200px;
  margin: 25px 0px;
  padding: 15px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  background-color: #25d366;
  color: white;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.popup-btn-whatsapp:hover {
  background-color: rgba(0, 128, 0, 0.769);
}


.popup-btn-whatsapp i {
  color: white;
  font-size: 35px;
}


.popup-btn-call {
  display: flex;
  width: 200px;
  margin: 20px 0;
  padding: 18px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 20px;
  background-color: #29606d;
  color: white;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.popup-btn-call i {
  color: white;
  font-size: 25px;
}

.popup-btn-call:hover {
  background-color: #358395;
}

.close-btn {
  background: transparent;
  color: black;
  border: none;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 40px;
}


.features-section {
  background: white;
}

.features-container {
  display: flex;
  margin: auto;
}

.features-image {
  flex: 1;
}

.features-image img {
  width: 100%;
  height: 370px;
  object-fit: cover;
}

.features-box {
  flex: 1;
  color: #29606d;
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 30px;
}


.feature-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.feature-item img {
  width: 130px;
  height: 55px;
  object-fit: contain;
}

.feature-item p {
  font-size: 30px;
}


.about-banner {
  background: linear-gradient(rgba(255, 255, 255, 0.92),
      rgba(255, 255, 255, 0.92)),
    url("assets/money-bg.jpg");
  background-size: cover;
  background-position: center;
  padding: 90px 0px;
  text-align: center;
  width: 100%;
  margin: 5px 0px;
}

.about-content {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px;
}

.about-content h2 {
  font-size: 35px;
  color: #036a0a;
  text-decoration: underline;
  margin-bottom: 16px;
}

.acm {
  display: flex;
}

.lo {
  width: 120px;
  margin-bottom: 30px;
}

.lo1 {
  width: 137px;
  margin-bottom: 30px;
  transform: scaleX(-1);
}

.acm p {
  font-size: 26px;
  color: #0b9b9b;
  line-height: 1.6;
}

.hero-slider-wrapper {
  position: relative;
  width: 100%;
  margin: 40px 0;
  border-top: 1px solid black;
}

.core-title {
  font-size: 50px;
  text-align: center;
  margin-top: 50px;
  color: #29606d;
  margin-bottom: 20px;
}


.hero-slider-container {
  display: flex;
  height: 455px;
}

.image-stack {
  display: flex;
  width: 60%;
  position: relative;
  gap: 1px;
}

.img {
  overflow: hidden;
}

.img img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.img.very-small {
  width: 10%;
  opacity: 0.4;
}

.img.small {
  width: 15%;
  opacity: 0.6;
}

.img.medium {
  width: 20%;
  opacity: 0.8;
}

.img.large {
  width: 100%;
  opacity: 1;
}

.img.behind {
  width: 0%;
  opacity: 0.6;
}


.hero-slide-content {
  width: 46%;
  background: #3c8596;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  height: 398px;
}


.content-box {
  background: white;
  padding: 0px 35px;
  height: 309px;
  width: 550px;
}


.content-box h2 {
  color: #1f6f7f;
  margin-bottom: -10px;
  font-size: 35px;
}

.content-box p {
  line-height: 1.6;
  color: #333;
  font-size: 25px;
}

.arrow {
  position: absolute;
  top: 53%;
  transform: translateY(-50%);
  background: white;
  border: none;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  font-size: 22px;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  z-index: 10;
}

.arrow.left {
  left: 20px;
}

.arrow.right {
  right: 20px;
}

.slider-dots {
  display: flex;
  justify-content: center;
  gap: 68px;
  margin-top: -10px;
}

.dot {
  width: 35px;
  height: 36px;
  border-radius: 50%;
  background: #98c0d2;
  transition: all 0.3s ease
}

.dot.active {
  background: #00989c;
  transform: scale(1.2);
}

.slider-track {
  transition: transform 0.5s ease;
}


.loan-assistance {
  width: 100%;
}

.loan-layout {
  background: linear-gradient(to bottom, white, #eaf6f6, #bde4e4, white);
  align-items: center;
  gap: 60px;
}

.assistance_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
}

.loan_container {
  position: absolute;
  right: 240px;
  top: 2195px;
}


.section-title {
  font-size: 60px;
  color: #f39c12;
}


.loan-image img {
  width: 475px;
  position: relative;
  right: 292px;
  margin-top: 50px;
}

.loan-options {
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
  left: 100px;
}

.loan-pill {
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 10px 35px;
  border: 2px solid #1aa6a6;
  border-radius: 40px;
  background: white;
  font-size: 15px;
  font-weight: 600;
  color: #00aeb5;
  width: 500px;
}

.loan-pill img {
  width: 65px;
  height: 65px;
}

.loan-pill button {
  background: none;
  border: none;
  font-size: 35px;
  font-weight: 600;
  color: #00aeb5;
  cursor: pointer;
}

.loan-pill:hover {
  opacity: 70%;
}

.section-subtitle {
  text-align: center;
  font-size: 35px;
  margin-top: 10px;
  color: #f39c12;
  margin-bottom: 10px;
}


.why-khushi {
  width: 100%;
  height: 690px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

.why-container {
  width: 100%;
  padding: 45px 88px;
}



.why-content h2 {
  font-size: 60px;
  font-weight: 700;
  color: #ba4900;
  position: relative;
  bottom: 25px;

}

.why-content ul {
  list-style: none;

}

.why-content li {
  margin-bottom: 58px;
  padding-left: 20px;
  position: relative;
  top: -10px;
  font-size: 40px;
  color: white;
  line-height: 25px;
}

.why-content li::before {
  content: "•";
  position: absolute;
  left: -28px;
  font-size: 40px;
  color: #fff;
}



.clarity-section {
  width: 100%;
}

.clarity-container {
  display: flex;
  align-items: center;
  gap: 50px;
  background: #3b8596;
  height: 445px;
}



.clarity-image img {
  width: 635px;
}

.clarity-text {
  width: 550px;
}

.clarity-text h2 {
  font-size: 50px;
  color: #e5d28a;
  position: relative;
  top: 5px;
}

.clarity-text p {
  font-size: 30px;
  line-height: 1.2;
  color: #fff5dd;
  position: relative;
  top: -30px;
  left: 10px;
}



.how-it-works {
  width: 100%;
  background-size: cover;
  background-position: center;
  padding: 62px 0;
}

.how-container {
  text-align: center;
}

.how-title h2 {
  font-size: 60px;
  color: #ff8c1a;
  position: relative;
  top: -70px;

}

.steps-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 124px;
  justify-items: center;
  position: relative;
  top: -75px;
}


.step-card {
  position: relative;
  z-index: 1;
  isolation: isolate;
  width: 60%;
  padding: 40px 40px;
  border-radius: 60px;
  text-align: center;
  border: 2px solid black;
  height: 295px;
}

.step-card::after {
  content: "";
  position: absolute;
  top: -25px;
  left: -35px;
  width: 100%;
  height: 100%;
  border-radius: 60px;
  border: 2px solid black;
  z-index: -1;
}

.step-icon {
  display: flex;
  justify-content: center;
}

.step-icon img {
  width: 100px;
  margin-bottom: 20px;
  position: relative;
  left: -16px
}

.step-card p {
  font-size: 25px;
  font-weight: 600;
  line-height: 1.2;
  margin-top: 12px;
  position: relative;
  left: -6px;
  top: -10px;
}

.step-card.light {
  background: rgba(255, 192, 97);
  color: #f19a16
}

.step-card.light::after {
  background: rgba(255, 245, 222, 0.95);
}





.step-card.orange {
  background: rgba(255, 245, 222);
  color: #fff9e9;
}

.step-card.orange::after {
  background: rgba(255, 192, 97, 0.85);
}



.ct-section {
  padding: 20px 0px;
  background-size: cover;
  background-position: center;
  width: 100%;
}

.ct-container {
  width: 100%;
  margin-top: -25px;
}

.ct-title h2 {
  font-size: 70px;
  position: relative;
  left: 85px;
  width: 50%;
  top: 0px;
  color: #e7c851;

}

.ct-title h1 {
  font-size: 133px;
  position: absolute;
  top: 5080px;
  right: 415px;
  color: #f19a16;
}

.ct-divider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0px;
}


.ct-image img {
  width: 285px;
  z-index: 4;
  position: relative;
  bottom: -29px;
  right: 37px;
}



.ct-content {
  position: relative;
  left: 66px;
  bottom: -29px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ct-content p {
  font-size: 52px;
  margin-bottom: 15px;
  width: 450px;
  text-align: end;
  position: relative;
  left: 40px;
  color: #e7c851;
}

.primary-btn {
  padding: 8px 38px;
  background: #f19a16;
  color: #fff9e9;
  border: none;
  border-radius: 40px;
  font-size: 34px;
  cursor: pointer;
  width: 335px;
  position: relative;
  right: -150px;
  line-height: 47px;
  font-weight: 600;
  top: 15px;
}

.primary-btn:hover {
  background: #f2ad46;
}

 */


* {
  box-sizing: border-box;
}

.body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #1f3b3b;
  /* overflow-x: hidden;
  min-height: 100vh; */
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-left: 50px; */
  width: 100%;
}

.hero-text h1 {
  font-size: 45px;
  color: #29606d;
  /* width: 150%; */
  /* margin-top: -22%; */
  margin-left: 45px;
}

.hero-text p {
  margin: 20px 45px;
  color: #036a0a;
  font-size: 171%;
  margin-top: -28px
}

.hero-button-group {
  display: flex;
  gap: 25px;
  margin-left: 3px;
  flex-direction: column;
}

.hero-button1 {
  margin-left: 45px;
  width: 224px;
}

.hero-button1 button {
  display: flex;
  padding: 10px 30px;
  border-radius: 25px;
  cursor: pointer;
  width: 254px;
  font-size: 23px;
  align-items: center;
  gap: 15px;
}

.hero-button1 button i {
  margin-left: 12px;
  border-radius: 26px;
  background-color: #34d840;
  color: white;
  height: 42px;
  width: 42px;
  padding: 10px;
}

.hero-button1 button:hover {
  background-color: #3c7582 !important;

}

.hero-button2 {
  margin-left: 45px;
  width: 224px;
}

.hero-button2 button:hover {
  background-color: #f9c06a !important;
}

.hero-image img {
  width: 583px;
  margin-top: 6%;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup {
  background: white;
  padding: 20px 50px;
  border-radius: 12px;
  text-align: center;
  width: 300px;
  position: relative;
}

.popup h3 {
  font-size: 25px;
}

.popup-btn-whatsapp {
  display: flex;
  font-size: 20px;
  width: 200px;
  margin: 25px 0px;
  padding: 15px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  background-color: #25d366;
  color: white;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.popup-btn-whatsapp:hover {
  background-color: rgba(0, 128, 0, 0.769);
}


.popup-btn-whatsapp i {
  color: white;
  font-size: 35px;
}


.popup-btn-call {
  display: flex;
  width: 200px;
  margin: 20px 0;
  padding: 18px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 20px;
  background-color: #29606d;
  color: white;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.popup-btn-call i {
  color: white;
  font-size: 25px;
}

.popup-btn-call:hover {
  background-color: #358395;
}

.close-btn {
  background: transparent;
  color: black;
  border: none;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 40px;
}



/* =========================
   LAPTOP → TABLET
========================= */

@media (max-width:1024px) {

  .hero-text h1 {
    font-size: 38px;
    margin-left: 20px;
  }

  .hero-text p {
    font-size: 140%;
    margin-left: 20px;
  }

  .hero-button1,
  .hero-button2 {
    margin-left: 20px;
  }

  .hero-image img {
    width: 450px;
  }
}


/* =========================
   TABLET → MOBILE
========================= */

@media (max-width:768px) {

  .hero {
    flex-direction: column;
    text-align: center;
  }

  .hero-text h1 {
    font-size: 32px;
    margin-left: 0;
  }

  .hero-text p {
    margin: 15px 0;
    font-size: 120%;
  }

  .hero-button-group {
    align-items: center;
  }

  .hero-button1,
  .hero-button2 {
    margin-left: 0;
  }

  .hero-image img {
    width: 90%;
    margin-top: 20px;
  }
}


/* =========================
   SMALL MOBILE
========================= */

@media (max-width:480px) {

  .hero-text h1 {
    font-size: 26px;
  }

  .hero-text p {
    font-size: 105%;
  }

  .hero-button1 button,
  .hero-button2 button {
    width: 100%;
    max-width: 260px;
    font-size: 18px;
    padding: 12px;
  }

  .hero-button1 button i {
    width: 34px;
    height: 34px;
    padding: 6px;
  }

}


.features-section {
  /* padding: 10px 0; */
  background: white;
}

.features-container {
  display: flex;
  /* max-width: 1200px; */
  margin: auto;
}

.features-image {
  flex: 1;
}

.features-image img {
  width: 100%;
  height: 370px;
  object-fit: cover;
}

.features-box {
  flex: 1;
  /* padding: 10px; */
  color: #29606d;
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 30px;
}


.feature-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.feature-item img {
  width: 130px;
  height: 55px;
  object-fit: contain;

}

.feature-item p {
  font-size: 30px;
}





/* =========================
   LAPTOP → TABLET
========================= */

@media (max-width:1024px) {

  .features-image img {
    height: 300px;
  }

  .features-box {
    font-size: 26px;
  }

  .feature-item img {
    width: 100px;
    height: 45px;
  }

  .feature-item p {
    font-size: 26px;
  }

}


/* =========================
   TABLET → MOBILE
========================= */

@media (max-width:768px) {

  .features-container {
    flex-direction: column;
    text-align: center;
  }

  .features-image img {
    width: 100%;
    height: auto;
  }

  .features-box {
    align-items: center;
    font-size: 24px;
  }

  .feature-item {
    justify-content: center;
  }

}


/* =========================
   SMALL MOBILE
========================= */

@media (max-width:480px) {

  .features-box {
    font-size: 20px;
  }

  .feature-item {
    flex-direction: column;
    gap: 6px;
  }

  .feature-item img {
    width: 80px;
    height: auto;
  }

  .feature-item p {
    font-size: 18px;
  }

}



.about-banner {
  background: linear-gradient(rgba(255, 255, 255, 0.92),
      rgba(255, 255, 255, 0.92)),
    url("assets/money-bg.jpg");
  background-size: cover;
  background-position: center;
  padding: 90px 0px;
  text-align: center;
  width: 100%;
  margin: 5px 0px;
}

.about-content {
  /* margin: auto; */
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px;
}

.about-content h2 {
  font-size: 35px;
  color: #036a0a;
  text-decoration: underline;
  margin-bottom: 16px;
}

.acm {
  display: flex;
}

.lo {
  width: 120px;
  margin-bottom: 30px;
}

.lo1 {
  width: 137px;
  margin-bottom: 30px;
  transform: scaleX(-1);
}

.acm p {
  font-size: 26px;
  color: #0b9b9b;
  line-height: 1.6;
}

.hero-slider-wrapper {
  position: relative;
  width: 100%;
  margin: 40px 0;
  border-top: 1px solid black;
}

.core-title {
  font-size: 50px;
  text-align: center;
  margin-top: 50px;
  color: #29606d;
  margin-bottom: 20px;
}



/* ======================
   LAPTOP → TABLET
====================== */

@media (max-width:1024px) {

  .about-banner {
    padding: 70px 20px;
  }

  .about-content h2 {
    font-size: 30px;
  }

  .acm p {
    font-size: 22px;
  }

  .core-title {
    font-size: 42px;
  }

}


/* ======================
   TABLET → MOBILE
====================== */

@media (max-width:768px) {

  .about-banner {
    padding: 60px 15px;
  }

  .about-content {
    padding: 15px;
  }

  .about-content h2 {
    font-size: 26px;
  }

  .acm {
    flex-direction: column;
    text-align: center;
  }

  .acm p {
    font-size: 20px;
  }

  .lo,
  .lo1 {
    width: 90px;
    margin-bottom: 10px;
  }

  .core-title {
    font-size: 34px;
  }

}


/* ======================
   SMALL MOBILE
====================== */

@media (max-width:480px) {

  .about-content h2 {
    font-size: 22px;
  }

  .acm p {
    font-size: 18px;
    line-height: 1.5;
  }

  .core-title {
    font-size: 28px;
  }

  .lo,
  .lo1 {
    width: 70px;
  }

}



/* MAIN LAYOUT */
.hero-slider-container {
  display: flex;
  height: 455px;
}

/* IMAGE STACK (LEFT) */
.image-stack {
  display: flex;
  width: 60%;
  position: relative;
  gap: 1px;
}

.img {
  overflow: hidden;
}

.img img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

/* IMAGE SIZES */
.img.very-small {
  width: 10%;
  opacity: 0.4;
}

.img.small {
  width: 15%;
  opacity: 0.6;
}

.img.medium {
  width: 20%;
  opacity: 0.8;
}

.img.large {
  width: 100%;
  opacity: 1;
}

.img.behind {
  width: 0%;
  opacity: 0.6;
}

/* CONTENT (RIGHT) */

.hero-slide-content {
  width: 46%;
  background: #3c8596;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  height: 398px;
}


.content-box {
  background: white;
  padding: 0px 35px;
  height: 309px;
  width: 550px;
}


.content-box h2 {
  color: #1f6f7f;
  margin-bottom: -10px;
  font-size: 35px;
}

.content-box p {
  line-height: 1.6;
  color: #333;
  font-size: 25px;
}

/* ARROWS */
.arrow {
  position: absolute;
  top: 53%;
  transform: translateY(-50%);
  background: white;
  border: none;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  font-size: 22px;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  z-index: 10;
}

.arrow.left {
  left: 20px;
}

.arrow.right {
  right: 20px;
}

/* SLIDER DOTS */
.slider-dots {
  display: flex;
  justify-content: center;
  gap: 68px;
  margin-top: -10px;
}

.dot {
  width: 35px;
  height: 36px;
  border-radius: 50%;
  background: #98c0d2;
  transition: all 0.3s ease
}

.dot.active {
  background: #00989c;
  transform: scale(1.2);
}

.slider-track {
  transition: transform 0.5s ease;
}

/* ======================
   LARGE TABLET
====================== */
@media (max-width:1200px) {

  .content-box {
    width: 100%;
    height: auto;
    padding: 20px;
  }

  .content-box h2 {
    font-size: 30px;
  }

  .content-box p {
    font-size: 22px;
  }

}


/* ======================
   TABLET MODE
====================== */
@media (max-width:992px) {

  .hero-slider-container {
    flex-direction: column;
    height: auto;
  }

  .image-stack {
    width: 100%;
    height: 320px;
  }

  .img img {
    height: 320px;
  }

  .hero-slide-content {
    width: 100%;
    height: auto;
    padding: 30px;
  }

  .content-box {
    width: 100%;
  }

}


/* ======================
   MOBILE MODE
====================== */
@media (max-width:768px) {

  .image-stack {
    height: 260px;
  }

  .img img {
    height: 260px;
  }

  .content-box h2 {
    font-size: 26px;
  }

  .content-box p {
    font-size: 18px;
  }

  .arrow {
    width: 38px;
    height: 38px;
    font-size: 18px;
  }

  .slider-dots {
    gap: 25px;
  }

  .dot {
    width: 18px;
    height: 18px;
  }

}


/* ======================
   SMALL MOBILE
====================== */
@media (max-width:480px) {

  .image-stack {
    height: 220px;
  }

  .img img {
    height: 220px;
  }

  .hero-slide-content {
    padding: 20px;
  }

  .content-box {
    padding: 15px;
  }

  .content-box h2 {
    font-size: 22px;
  }

  .content-box p {
    font-size: 16px;
  }

}




/* ============================= */
/* LOAN ASSISTANCE SECTION */
/* ============================= */

.loan-assistance {
  width: 100%;
  position: relative;
}

.loan-layout {
  position: relative;
  background: linear-gradient(to bottom, white, #eaf6f6, #bde4e4, white);
  align-items: center;
  gap: 60px;
}

.assistance_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  position: relative;
  height: 100%;
  padding-top: 25px;
}

.loan_container {
  position: absolute;
  right: 320px;
  bottom: 5px;
}


.section-title {
  font-size: 60px;
  color: #f39c12;
}

/* LEFT IMAGE */

.loan-image {
  position: relative;
  height: 570px;
}

.loan-image img {
  width: 460px;
  position: absolute;
  right: 8px;
  margin-top: 25px;
}

/* RIGHT SIDE */
.loan-options {
  display: flex;
  flex-direction: column;
  gap: 35px;
  position: relative;
  left: 100px;
}

/* PILL BUTTONS */
.loan-pill {
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 10px 35px;
  border: 2px solid #1aa6a6;
  border-radius: 40px;
  background: white;
  font-size: 15px;
  font-weight: 600;
  color: #00aeb5;
  width: 500px;
}

.loan-pill img {
  width: 65px;
  height: 65px;
}

.loan-pill button {
  background: none;
  border: none;
  font-size: 35px;
  font-weight: 600;
  color: #00aeb5;
  cursor: pointer;
}

.loan-pill:hover {
  opacity: 70%;
}

.section-subtitle {
  text-align: center;
  font-size: 35px;
  margin-top: 10px;
  color: #f39c12;
  margin-bottom: 10px;
}

/* ======================
   LARGE TABLET
====================== */
@media (max-width:1200px) {

  .loan_container {
    right: 120px;
  }

  .loan-options {
    left: 40px;
  }

  .loan-pill {
    width: 420px;
  }

  .loan-image img {
    width: 380px;
  }

}


/* ======================
   TABLET MODE
====================== */
@media (max-width:992px) {

  .assistance_container {
    flex-direction: column;
    gap: 40px;
    padding: 40px 0;
  }

  .loan_container {
    position: relative;
    right: auto;
    bottom: auto;
  }

  .loan-options {
    left: 0;
    align-items: center;
  }

  .loan-pill {
    width: 90%;
    max-width: 500px;
  }

  .loan-image {
    height: auto;
    text-align: center;
  }

  .loan-image img {
    position: relative;
    right: auto;
    width: 340px;
  }

}


/* ======================
   MOBILE
====================== */
@media (max-width:768px) {

  .section-title {
    font-size: 42px;
    text-align: center;
  }

  .section-subtitle {
    font-size: 26px;
  }

  .loan-pill {
    gap: 20px;
    padding: 12px 20px;
  }

  .loan-pill button {
    font-size: 26px;
  }

  .loan-pill img {
    width: 50px;
    height: 50px;
  }

  .loan-image img {
    width: 280px;
  }

}


/* ======================
   SMALL MOBILE
====================== */
@media (max-width:480px) {

  .section-title {
    font-size: 32px;
  }

  .loan-pill {
    width: 95%;
    border-radius: 25px;
  }

  .loan-pill button {
    font-size: 22px;
  }

  .loan-image img {
    width: 230px;
  }

}


/* ============================= */
/* WHY KHUSHI */
/* ============================= */

.why-khushi {
  width: 100%;
  height: 805px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

.why-container {
  width: 100%;
  padding: 45px 88px;
  position: relative;
}

/* Text content */
/* .why-content {
  max-width: 500px; 
  color: #ffffff;
} */
.why-content {
  position: relative;

}

.why-content h2 {
  font-size: 60px;
  font-weight: 700;
  color: #ba4900;
  position: absolute;
  bottom: 290px;

}

.why-content ul {
  list-style: none;
}

.why-content li {
  margin-bottom: 60px;
  padding-left: 20px;
  position: relative;
  top: 82px;
  font-size: 40px;
  color: white;
  line-height: 25px;
}

.why-content li::before {
  content: "•";
  position: absolute;
  left: -28px;
  font-size: 40px;
  color: #fff;
}

/* ======================
   LARGE TABLET
====================== */
@media (max-width:1200px) {

  .why-khushi {
    height: auto;
    padding: 60px 0;
  }

  .why-content h2 {
    position: relative;
    bottom: auto;
    margin-bottom: 40px;
    font-size: 48px;
  }

  .why-content li {
    top: 40px;
    font-size: 32px;
    line-height: 40px;
  }

}


/* ======================
   TABLET
====================== */
@media (max-width:992px) {

  .why-container {
    padding: 40px 40px;
  }

  .why-content h2 {
    font-size: 40px;
  }

  .why-content li {
    top: 20px;
    font-size: 28px;
    margin-bottom: 40px;
  }

}


/* ======================
   MOBILE
====================== */
@media (max-width:768px) {

  .why-khushi {
    padding: 40px 0;
  }

  .why-container {
    padding: 30px 20px;
  }

  .why-content h2 {
    font-size: 32px;
    text-align: center;
  }

  .why-content ul {
    padding-left: 30px;
  }

  .why-content li {
    top: 0;
    font-size: 22px;
    margin-bottom: 25px;
    line-height: 32px;
  }

}


/* ======================
   SMALL MOBILE
====================== */
@media (max-width:480px) {

  .why-content h2 {
    font-size: 26px;
  }

  .why-content li {
    font-size: 18px;
  }

}



/* =========================== */
/* clarity */
/* =========================== */

.clarity-section {
  width: 100%;
}

.clarity-container {
  display: flex;
  align-items: center;
  gap: 50px;
  background: #3b8596;
  height: 530px;
  position: relative;
}



.clarity-image img {
  width: 745px;
  height: 527px;
}

.clarity-text {
  width: 550px;
  position: relative;
}

.clarity-text h2 {
  font-size: 60px;
  color: #e5d28a;
  position: absolute;
  bottom: -35px;
}

.clarity-text p {
  font-size: 35px;
  line-height: 1.2;
  color: #fff5dd;
  position: absolute;
  top: -25px;
  /* padding: 0px 34px; */
  left: 10px;
}



/* ============================= */
/* HOW IT WORKS */
/* ============================= */

.how-it-works {
  width: 100%;
  background-size: cover;
  background-position: center;
  padding: 62px 0;
}

.how-container {
  text-align: center;
  position: relative;
}

.how-title h2 {
  font-size: 60px;
  color: #ff8c1a;
  position: relative;
  top: -70px;

}

/* GRID */
.steps-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 124px;
  justify-items: center;
  position: relative;
  top: -75px;
}

/* CARD BASE */

.step-card {
  position: relative;
  z-index: 1;
  isolation: isolate;
  width: 60%;
  padding: 40px 40px;
  border-radius: 60px;
  text-align: center;
  border: 2px solid black;
  height: 295px;
}

.step-card::after {
  content: "";
  position: absolute;
  top: -25px;
  left: -35px;
  width: 100%;
  height: 100%;
  border-radius: 60px;
  border: 2px solid black;
  z-index: -1;
}

.step-icon {
  display: flex;
  justify-content: center;
}

.step-icon img {
  width: 100px;
  margin-bottom: 20px;
  position: relative;
  left: -16px
}

.step-card p {
  font-size: 25px;
  font-weight: 600;
  line-height: 1.2;
  margin-top: 12px;
  position: relative;
  left: -6px;
  top: -10px;
}

/* ORANGE CARDS */
.step-card.light {
  background: rgba(255, 192, 97);
  color: #f19a16
}

.step-card.light::after {
  background: rgba(255, 245, 222, 0.95);
}




/* LIGHT CARDS */
.step-card.orange {
  background: rgba(255, 245, 222);
  color: #fff9e9;
}

.step-card.orange::after {
  background: rgba(255, 192, 97, 0.85);
}

/* ======================
   LARGE TABLET
====================== */
@media (max-width:1200px) {

  .how-title h2 {
    font-size: 48px;
    top: -30px;
  }

  .steps-grid {
    gap: 60px;
    top: -30px;
  }

  .step-card {
    width: 75%;
    height: auto;
    padding: 35px;
  }

  .step-icon img {
    width: 85px;
  }

  .step-card p {
    font-size: 22px;
  }

}


/* ======================
   TABLET
====================== */
@media (max-width:992px) {

  .steps-grid {
    grid-template-columns: 1fr;
    gap: 50px;
  }

  .step-card {
    width: 80%;
  }

  .step-icon img {
    width: 60px;
  }

  .step-card p {
    font-size: 18px;
  }

  .how-title h2 {
    font-size: 28px;
  }

}

/* ============================= */
/* CTA SECTION */
/* ============================= */

.ct-section {
  padding: 20px 0px;
  background-size: cover;
  background-position: center;
  width: 100%;
}

.ct-container {
  width: 100%;
  margin-top: -25px;
  position: relative;
  height: 650px;
}

.ct-title {
  position: relative;
  height: 200px;
}

.ct-title h2 {
  font-size: 70px;
  position: absolute;
  left: 85px;
  width: 50%;
  top: 0px;
  color: #e7c851;

}

.ct-title h1 {
  font-size: 140px;
  position: absolute;
  top: 45px;
  right: 370px;
  color: #f19a16;
}

.ct-divider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0px;
}

/* LEFT IMAGE */
.ct-image img {
  width: 285px;
  z-index: 4;
  position: absolute;
  bottom: -24px;
  left: 335px;
}


/* RIGHT CONTENT */
.ct-content {
  position: relative;
  left: 66px;
  bottom: -29px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ct-content p {
  font-size: 52px;
  margin-bottom: 15px;
  width: 450px;
  text-align: end;
  position: absolute;
  left: 50px;
  color: #e7c851;
  top: 45px;
}

.primary-btn {
  padding: 8px 38px;
  background: #f19a16;
  color: #fff9e9;
  border: none;
  border-radius: 40px;
  font-size: 34px;
  cursor: pointer;
  width: 335px;
  position: absolute;
  left: 165px;
  line-height: 47px;
  font-weight: 600;
  top: 300px;
}

.primary-btn:hover {
  background: #f2ad46;
}

/* ======================
   LARGE TABLET
====================== */
@media (max-width:1200px){

  .ct-container{
    height:580px;
  }

  .ct-title h2{
    font-size:55px;
    left:40px;
  }

  .ct-title h1{
    font-size:110px;
    right:180px;
  }

  .ct-image img{
    width:240px;
    left:200px;
  }

  .ct-content p{
    font-size:42px;
    width:360px;
  }

  .primary-btn{
    font-size:28px;
    width:260px;
    left:120px;
    top:250px;
  }

}


/* ======================
   TABLET
====================== */
@media (max-width:992px){

  .ct-container{
    height:auto;
    padding-bottom:80px;
  }

  .ct-divider{
    flex-direction:column;
  }

  .ct-title h2{
    position:static;
    width:100%;
    text-align:center;
    font-size:48px;
    margin-bottom:10px;
  }

  .ct-title h1{
    position:static;
    text-align:center;
    font-size:90px;
  }

  .ct-image img{
    position:static;
    margin:20px auto;
    display:block;
  }

  .ct-content{
    align-items:center;
    left:0;
    bottom:0;
  }

  .ct-content p{
    position:static;
    text-align:center;
    width:auto;
    font-size:34px;
  }

  .primary-btn{
    position:static;
    margin-top:20px;
  }

}


/* ======================
   MOBILE
====================== */
@media (max-width:768px){

  .ct-title h2{
    font-size:36px;
  }

  .ct-title h1{
    font-size:60px;
  }

  .ct-image img{
    width:200px;
  }

  .ct-content p{
    font-size:26px;
  }

  .primary-btn{
    font-size:22px;
    width:220px;
    line-height:36px;
  }

}


/* ======================
   SMALL MOBILE
====================== */
@media (max-width:480px){

  .ct-title h2{
    font-size:28px;
  }

  .ct-title h1{
    font-size:44px;
  }

  .ct-image img{
    width:170px;
  }

  .ct-content p{
    font-size:22px;
  }

}
