/* =========================
   CONTACT PAGE WRAPPER
========================= */
.contact-page {
    width: 100%;
    background: #ffffff;
}

/* =========================
   BANNER
========================= */
.contact-banner img {
    width: 100%;
    height: 380px;
    object-fit: cover;
    display: block;
}

/* =========================
   MAIN CONTAINER
========================= */
.contact-container {
    display: flex;
    gap: 50px;
    padding: 60px 20px;
    align-items: flex-start;
}

/* LEFT FORM WRAPPER */
.contact-form {
    flex: 2;
    margin-top: -45px;
}

.co-title h2 {
    font-size: 48px;
    font-weight: 600;
    color: #0a4a55;
    margin-bottom: 12px;
}

.subtitle {
    font-size: 23px;
    color: #f2a23a;
    width: 555px;
    line-height: 1.6;
    margin-bottom: 35px;
}


/* FORM ROWS */
.form-row {
    display: flex;
    gap: 20px;
    margin-bottom: 22px;
}

/* EACH FIELD */
.field {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px
}

/* LABELS */
.field label {
    font-size: 32px;
    margin-bottom: 10px;
    color: #0a4a55;
    margin-left: 15px;
}

/* =========================
   INPUTS
========================= */
.contact-form input {
    width: 100%;
    padding: 14px 22px;
    border: 1px solid #d3d3d3;
    border-radius: 30px;
    outline: none;
    font-size: 15px;

}

.contact-form textarea {
    width: 100%;
    padding: 14px 22px;
    border: 1px solid #d3d3d3;
    border-radius: 30px;
    outline: none;
    font-size: 15px;
    height: 150px;
}

/* =========================
   PHONE INPUT
========================= */
.phone-input {
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid #d3d3d3;
    border-radius: 30px;
    overflow: hidden;
}

.phone-input span {
    padding: 14px 18px;
    background: #f3f3f3;
    font-size: 14px;
    color: #555;
}

.phone-input input {
    border: none;
    border-radius: 0;
}

/* =========================
   BUTTON
========================= */
.send-btn {
    margin-top: 36px;
    background: #f2a23a;
    color: #ffffff;
    border: none;
    padding: 14px 40px;
    border-radius: 19px;
    font-size: 23px;
    cursor: pointer;
    transition: 0.3s ease;
    float: right;
}

.send-btn:hover {
    background: #e2932f;
}

/* =========================
   RIGHT INFO PANEL
========================= */
.contact-info {
    flex: 1;
    background: #0a4a55;
    color: #ffffff;
    padding: 10px 32px;
    border-radius: 50px;
    height: 740px;
}

/* =========================
   INFO TITLE
========================= */
.contact-info h3 {
    font-size: 35px;
    text-align: center;
    line-height: 1.4;
    margin-bottom: 25px;
}

/* =========================
   INFO BOXES
========================= */
.info-box {
    background: #fff4d6;
    color: #0a4a55;
    padding: 24px 20px;
    border-radius: 31px;
    margin-bottom: 39px;
    display: flex;
    align-items: center;
    gap: 25px;
    width: 445px;
    text-decoration: none;
}


.info-box {
    position: relative;
    overflow: hidden;
}

.info-box::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 100%;
    background: #2f7e8a;
    transform: scaleY(0);
    transition: 0.25s;
}

.info-box:hover::before {
    transform: scaleY(1);
}


.info-box i {
    margin-left: 26px;
    font-size: 49px
}

.info-box span {
    color: #f2a23a;
    font-size: 18px;
    font-weight: 500;
    display: block;
    text-align: left;
}

.info-box p {
    margin: 0;
    font-weight: 500;
    font-size: 19px;
    text-align: center;
}

/* =========================
   SOCIAL SECTION
========================= */

.a-social-section {
    margin-top: 30px;
    text-align: center;
}

.a-social-section p {
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 25px;
}

.a-social-icons {
    display: flex;
    justify-content: center;
    gap: 45px
}

.fa-facebook-f,
.fa-instagram,.fa-x-twitter {
    font-size: 25px;
}

.social-link {
    width: 50px;
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: center;

    background: #f5f7fa;
    border-radius: 50%;

    text-decoration: none;
    color: #444;
    font-size: 18px;

    transition: all 0.3s ease;
}

.social-link:hover {
    transform: translateY(-4px) scale(1.05);
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.15);
}

.social-link:hover .fa-facebook-f {
    color: #1877f2;
}

.social-link:hover .fa-instagram {
    color: #e4405f;
}

.social-link:hover .fa-x-twitter {
    color: #000;

}

.map-section {
    width: 100%;
}

.map-section iframe {
    /* border-radius: 16px; */
    margin-left: 330px;
}