.about-page {
    padding: 120px 64px;
    background: #ffffff;
    width: 100%;
}

.about-wrapper {
    display: flex;
    width: 100%;
    align-items: flex-start;
    gap: 75px;
    padding-left: 0px;
}

/* LEFT CARD */
.about-card {
    background: #fff9e9;
    border: 2px solid #e5d28a;
    padding: 40px;
    width: 575px;
    text-align: center;
    height: 700px;
}

.about-logo {
    width: 325px;
    margin-bottom: 15px;
}

.owner-name {
    color: #004a58;
    font-size: 35px;
    margin-bottom: 30px;
}

.owner-role {
    color: #f09911;
    font-size: 24px;
    letter-spacing: 1px;
    margin-bottom: 35px;
}


.email-btn {
    background: #004a58;
    color: white;
    border: none;
    padding: 10px 10px;
    cursor: pointer;
    margin-bottom: 50px;
    width: 180px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 33px;
    font-size: 36px;
    color: #0a4a55;
}

/* RIGHT CONTENT */
.about-content2 {
    flex: 1;
}

.about-content2 h2 {
    font-size: 45px;
    margin-bottom: 25px;
    color: #222;
}

.about-content2 ul {
    padding-left: 22px;
    width: 510px;
    text-align: justify;
}

.about-content2 li {
    margin-bottom: 16px;
    line-height: 1.6;
    color: #333;
    font-size: 18px;
}

/* BUTTONS */
.about-buttons {
    margin-top: 30px;
    display: flex;
    gap: 30px;
    padding-left: 23px;
}

.apply-btn {
    background: #f2a23a;
    color: white;
    border: none;
    padding: 12px 22px;
    cursor: pointer;
    font-size: 20px;
}

.talk-btn {
    background: #0a4a55;
    color: white;
    border: none;
    padding: 12px 22px;
    cursor: pointer;
    font-size: 20px;
}