.bl-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.bl-popup {
    background: white;
    padding: 20px 50px;
    border-radius: 12px;
    text-align: center;
    width: 300px;
    position: relative;
}

.bl-popup h3 {
    font-size: 25px;
}

.bl-popup-btn-whatsapp {
    display: flex;
    font-size: 20px;
    width: 200px;
    margin: 25px 0px;
    padding: 15px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    background-color: #25d366;
    color: white;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.bl-popup-btn-whatsapp:hover {
    background-color: rgba(0, 128, 0, 0.769);
}


.bl-popup-btn-whatsapp i {
    color: white;
    font-size: 35px;
}


.bl-popup-btn-call {
    display: flex;
    width: 200px;
    margin: 20px 0;
    padding: 18px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 20px;
    background-color: #29606d;
    color: white;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.bl-popup-btn-call i {
    color: white;
    font-size: 25px;
}

.bl-popup-btn-call:hover {
    background-color: #358395;
}

.bl-close-btn {
    background: transparent;
    color: black;
    border: none;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 40px;
}

.bl-container {
    width: 100%;
    font-family: "Poppins", sans-serif;
    position: relative;
    height: 950px;
    border-bottom: 1px solid #c1c0be;
}

/* HERO SECTION */
.bl-hero {
    position: relative;
    width: 100%;
}

.bl-bg {
    width: 100%;
    object-fit: cover;
    display: block;
    margin-top: 75px;
}

/* BUTTON */
.bl-btn {
    background: linear-gradient(to right, #f6a04d, #ffb347);
    border: none;
    padding: 12px 30px;
    color: white;
    font-weight: 600;
    border-radius: 30px;
    cursor: pointer;
    font-size: 45px;
    position: absolute;
    bottom: 358px;
    right: 230px;
}

.bl-btn:hover {
    background: linear-gradient(to right, #ffb347, #f6a04d);
}

/* DESCRIPTION SECTION */
.bl-description {
    padding-left: 46px;
    font-size: 40px;
    line-height: 1.4;
    text-align: left;
    width: 1125px;
}

/* LEAF IMAGE */
.bl-leaf {
    position: absolute;
    right: 118px;
    bottom: 0px;
    width: 225px;
}

/* ========================= */
/* LAPTOP */
/* ========================= */
@media (max-width:1400px) {

    .bl-container {
        height: auto;
    }

    .bl-btn {
        font-size: 36px;
        right: 150px;
        bottom: 260px;
        padding: 12px 26px;
    }

    .bl-description {
        font-size: 32px;
        width: 900px;
    }

    .bl-leaf {
        width: 180px;
        right: 70px;
    }

}


/* ========================= */
/* TABLET */
/* ========================= */
@media (max-width:1000px) {

    .bl-btn {
        font-size: 26px;
        right: 60px;
        bottom: 180px;
        padding: 10px 22px;
    }

    .bl-description {
        font-size: 24px;
        width: 100%;
        padding: 30px;
    }

    .bl-leaf {
        position: relative;
        display: block;
        margin-left: auto;
        right: auto;
        bottom: auto;
        width: 150px;
        margin-top: 20px;
    }

}


/* ========================= */
/* MOBILE */
/* ========================= */
@media (max-width:600px) {

    .bl-bg {
        margin-top: 60px;
    }

    .bl-btn {
        font-size: 18px;
        right: 20px;
        bottom: 120px;
        padding: 10px 18px;
    }

    .bl-description {
        font-size: 18px;
        padding: 20px;
    }

    .bl-leaf {
        width: 110px;
    }

}

/* bl-details section  */
.bl-details {
    width: 100%;
    padding: 20px 20px;
    font-family: "Georgia", serif;
    text-align: center;
    border-bottom: 1px solid #c1c0be;
}

/* TITLE */
.bl-title {
    font-size: 45px;
    margin-bottom: 50px;
}

.bl-title span {
    color: #f6a04d
}

/* MAIN BOX */
.bl-box {
    width: 900px;
    margin: 0px 250px;
    background: #ffffff;
    border: 1px solid black;
    padding: 30px;
}

/* ROW */
.bl-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    text-align: left;
    padding: 28px 0;
}

.bl-row img {
    width: 150px;
    height: 200px;
}

.bl-d-text {
    width: 585px;
}

.bl-row h3 {
    font-size: 30px;
    margin-bottom: 8px;
    font-weight: 600;
}

.bl-row p {
    font-size: 22px;
    color: #555;
    line-height: 1.6;
}

.bl-row-reverse h3 {
    font-size: 30px;
    margin-bottom: 8px;
    font-weight: 600;
    text-align: right;
}

.bl-row-reverse p {
    font-size: 22px;
    color: #555;
    line-height: 1.6;
    text-align: right;
}

/* Divider */
hr {
    border: none;
    border-top: 1px solid black;
}

/* ========================= */
/* LAPTOP */
/* ========================= */
@media (max-width:1400px) {

    .bl-box {
        width: 800px;
        margin: 0 auto;
    }

    .bl-row img {
        width: 130px;
        height: auto;
    }

    .bl-d-text {
        width: 520px;
    }

    .bl-row h3,
    .bl-row-reverse h3 {
        font-size: 26px;
    }

    .bl-row p,
    .bl-row-reverse p {
        font-size: 20px;
    }

}


/* ========================= */
/* TABLET */
/* ========================= */
@media (max-width:1000px) {

    .bl-title {
        font-size: 36px;
    }

    .bl-box {
        width: 95%;
        margin: 0 auto;
        padding: 25px;
    }

    .bl-row,
    .bl-row-reverse {
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }

    .bl-row-reverse h3,
    .bl-row-reverse p {
        text-align: center;
    }

    .bl-d-text {
        width: 100%;
    }

    .bl-row img {
        width: 120px;
    }

}


/* ========================= */
/* MOBILE */
/* ========================= */
@media (max-width:600px) {

    .bl-title {
        font-size: 28px;
    }

    .bl-row img {
        width: 95px;
    }

    .bl-row h3,
    .bl-row-reverse h3 {
        font-size: 22px;
    }

    .bl-row p,
    .bl-row-reverse p {
        font-size: 16px;
    }

    .bl-box {
        padding: 18px;
    }

}


/* fybf section */

.bl-fybf-section {
    width: 100%;
    padding: 40px 20px;
    text-align: center;
    border-bottom: 1px solid #c1c0be;
}

/* TITLE */
.bl-fybf-title {
    font-size: 52px;
    margin-bottom: 60px;
    border-bottom: 1px solid black;
    width: 620px;
    padding-bottom: 18px;
    margin-left: 375px;
}

.bl-fybf-title span {
    color: #f6a04d;
}

/* CONTAINER */
.bl-fybf-container {
    width: 885px;
    margin: 0px 190px;
}

/* ROW */
.bl-fybf-row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 0;
    gap: 50px;
}

.bl-fybf-row img {
    width: 200px;
}

.bl-fybf-row h3 {
    width: 757px;
    font-size: 40px;
    font-weight: 600;
}

.bl-fybf-row:not(.bl-fybf-row-reverse) h3 {
    text-align: left;
}

.bl-fybf-row-reverse h3 {
    text-align: right;
}

/* STRING IMAGES */
.bl-fybf-string {
    display: block;
    width: 220px;
    margin: 0 auto;
}

/* ========================= */
/* LAPTOP */
/* ========================= */
@media (max-width:1400px) {

    .bl-fybf-title {
        font-size: 44px;
        margin-left: auto;
        margin-right: auto;
    }

    .bl-fybf-container {
        width: 760px;
        margin: 0 auto;
    }

    .bl-fybf-row h3 {
        width: 620px;
        font-size: 32px;
    }

    .bl-fybf-row img {
        width: 170px;
    }

}


/* ========================= */
/* TABLET */
/* ========================= */
@media (max-width:1000px) {

    .bl-fybf-title {
        width: 90%;
        font-size: 34px;
    }

    .bl-fybf-container {
        width: 95%;
    }

    .bl-fybf-row {
        flex-direction: column;
        gap: 18px;
        text-align: center;
    }

    .bl-fybf-row h3,
    .bl-fybf-row-reverse h3 {
        width: 100%;
        text-align: center;
        font-size: 26px;
    }

    .bl-fybf-row img {
        width: 150px;
    }

    .bl-fybf-string {
        width: 160px;
    }

}


/* ========================= */
/* MOBILE */
/* ========================= */
@media (max-width:600px) {

    .bl-fybf-title {
        font-size: 26px;
        padding-bottom: 12px;
    }

    .bl-fybf-row img {
        width: 110px;
    }

    .bl-fybf-row h3 {
        font-size: 20px;
    }

    .bl-fybf-string {
        width: 120px;
    }

}


/* f SECTION */
/* SECTION */
.bl-f-section {
    width: 100%;
    padding: 60px 80px;
    box-sizing: border-box;
}

/* MAIN CONTAINER */
.bl-f-container {
    display: flex;
    border: 1px solid #bdbdbd;
    background: #ffffff;
}

/* LEFT SIDE */
.bl-f-left {
    width: 50%;
    background: #fff9e9;
    padding: 60px;
    box-sizing: border-box;
    border: 1px solid #a9a5a0;
}

.bl-f-title {
    font-size: 50px;
    color: #0f5c63;
    margin-bottom: 30px;
    line-height: 1.2;
}

.bl-f-subtitle {
    font-size: 33px;
    color: #333;
    line-height: 1.6;
}

/* RIGHT SIDE */
.bl-f-right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    border: 1px solid #a9a5a0;
}

.bl-f-right img {
    width: 100%;
}

/* BUTTONS */
.bl-f-btn-wrapper {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 90px;
}

.bl-f-btn {
    padding: 35px 35px;
    font-size: 35px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    font-weight: 600;
}

/* APPLY BUTTON */
.bl-f-apply {
    background: #f29c1f;
    color: #fff;
}

.bl-f-apply:hover {
    background: #f17806;
}

/* CONTACT BUTTON */
.bl-f-contact {
    background: #0f5c63;
    color: #fff;
}

.bl-f-contact:hover {
    background: #227a8e;
}

/* ========================= */
/* LAPTOP */
/* ========================= */
@media (max-width:1400px) {

    .bl-f-section {
        padding: 50px 40px;
    }

    .bl-f-title {
        font-size: 36px;
    }

    .bl-f-subtitle {
        font-size: 20px;
    }

    .bl-f-right img {
        max-width: 380px;
    }

    .bl-f-btn {
        padding: 28px 28px;
        font-size: 22px;
    }

}


/* ========================= */
/* TABLET */
/* ========================= */
@media (max-width:1000px) {

    .bl-f-container {
        flex-direction: column;
    }

    .bl-f-left,
    .bl-f-right {
        width: 100%;
    }

    .bl-f-left {
        padding: 40px;
        text-align: center;
    }

    .bl-f-subtitle {
        margin: 0 auto;
    }

    .bl-f-right {
        padding: 30px;
    }

    .bl-f-btn-wrapper {
        gap: 30px;
        flex-wrap: wrap;
    }

}


/* ========================= */
/* MOBILE */
/* ========================= */
@media (max-width:600px) {

    .bl-f-section {
        padding: 40px 20px;
    }

    .bl-f-left {
        padding: 28px 20px;
    }

    .bl-f-title {
        font-size: 26px;
    }

    .bl-f-subtitle {
        font-size: 16px;
    }

    .bl-f-right img {
        max-width: 260px;
    }

    .bl-f-btn-wrapper {
        flex-direction: column;
        align-items: center;
        gap: 18px;
    }

    .bl-f-btn {
        width: 100%;
        max-width: 280px;
        padding: 18px;
        font-size: 18px;
    }

}