.bl-container {
    width: 100%;
    font-family: "Poppins", sans-serif;
}

/* HERO SECTION */
.bl-hero {
    position: relative;
    width: 100%;
}

.bl-bg {
    width: 100%;
    height: 625px;
    object-fit: cover;
    display: block;
    margin-top: 75px;
}

/* BUTTON */
.bl-btn {
    background: linear-gradient(to right, #f6a04d, #ffb347);
    border: none;
    padding: 12px 30px;
    color: white;
    font-weight: 600;
    border-radius: 30px;
    cursor: pointer;
    font-size: 35px;
    position: absolute;
    bottom: 310px;
    right: 190px;
}

.bl-btn:hover {
    opacity: 0.9;
}

/* DESCRIPTION SECTION */
.bl-description {
    position: relative;
    padding-left: 52px;
    font-size: 33px;
    line-height: 1.4;
    text-align: left;
    width: 972px;
}

/* LEAF IMAGE */
.bl-leaf {
    position: absolute;
    right: -200px;
    bottom: -15px;
    width: 195px;
}


/* bl-details section  */
.bl-details {
    width: 100%;
    padding: 20px 20px;
    font-family: "Georgia", serif;
    text-align: center;
}

/* TITLE */
.bl-title {
    font-size: 45px;
    margin-bottom: 30px;
}

.bl-title span {
    color: #f6a04d
}

/* MAIN BOX */
.bl-box {
    width: 900px;
    margin: 0 175px;
    background: #ffffff;
    border: 1px solid black;
    padding: 30px;
}

/* ROW */
.bl-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    text-align: left;
    padding: 28px 0;
}

.bl-row img {
    width: 150px;
    height: 200px;
}

.bl-d-text {
    width: 585px;
}

.bl-row h3 {
    font-size: 30px;
    margin-bottom: 8px;
    font-weight: 600;
}

.bl-row p {
    font-size: 22px;
    color: #555;
    line-height: 1.6;
}

.bl-row-reverse h3 {
    font-size: 30px;
    margin-bottom: 8px;
    font-weight: 600;
    text-align: right;
}

.bl-row-reverse p {
    font-size: 22px;
    color: #555;
    line-height: 1.6;
    text-align: right;
}

/* Divider */
hr {
    border: none;
    border-top: 1px solid black;
}

/* fybf section */

.bl-fybf-section {
    width: 100%;
    padding: 40px 20px;
    text-align: center;
}

/* TITLE */
.bl-fybf-title {
    font-size: 52px;
    margin-bottom: 60px;
    border-bottom: 1px solid black;
    width: 620px;
    padding-bottom: 18px;
    margin-left: 310px;
}

.bl-fybf-title span {
    color: #f6a04d;
}

/* CONTAINER */
.bl-fybf-container {
    width: 885px;
    margin: 0px 190px;
}

/* ROW */
.bl-fybf-row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 0;
    gap: 50px;
}

.bl-fybf-row img {
    width: 200px;
}

.bl-fybf-row h3 {
    width: 757px;
    font-size: 40px;
    font-weight: 600;
}

.bl-fybf-row:not(.bl-fybf-row-reverse) h3 {
    text-align: left;
}

.bl-fybf-row-reverse h3 {
    text-align: right;
}

/* STRING IMAGES */
.bl-fybf-string {
    display: block;
    width: 220px;
    margin: 0 auto;
}

/* f SECTION */
/* SECTION */
.bl-f-section {
    width: 100%;
    padding: 60px 80px;
    box-sizing: border-box;
}

/* MAIN CONTAINER */
.bl-f-container {
    display: flex;
    border: 1px solid #bdbdbd;
    background: #ffffff;
}

/* LEFT SIDE */
.bl-f-left {
    width: 50%;
    background: #e8dfcf;
    padding: 60px;
    box-sizing: border-box;
    border: 1px solid black;
}

.bl-f-title {
    font-size: 42px;
    color: #0f5c63;
    margin-bottom: 30px;
    line-height: 1.2;
}

.bl-f-subtitle {
    font-size: 22px;
    color: #333;
    line-height: 1.6;
    max-width: 520px;
}

/* RIGHT SIDE */
.bl-f-right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    border: 1px solid black
}

.bl-f-right img {
    width: 100%;
    max-width: 450px;
    height: auto;
}

/* BUTTONS */
.bl-f-btn-wrapper {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 60px;
}

.bl-f-btn {
    padding: 35px 35px;
    font-size: 25px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    font-weight: 600;
}

/* APPLY BUTTON */
.bl-f-apply {
    background: #f29c1f;
    color: #fff;
}

/* CONTACT BUTTON */
.bl-f-contact {
    background: #0f5c63;
    color: #fff;
}