.bl-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.bl-popup {
  background: white;
  padding: 20px 50px;
  border-radius: 12px;
  text-align: center;
  width: 300px;
  position: relative;
}

.bl-popup h3 {
  font-size: 25px;
}

.bl-popup-btn-whatsapp {
  display: flex;
  font-size: 20px;
  width: 200px;
  margin: 25px 0px;
  padding: 15px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  background-color: #25d366;
  color: white;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.bl-popup-btn-whatsapp:hover {
  background-color: rgba(0, 128, 0, 0.769);
}


.bl-popup-btn-whatsapp i {
  color: white;
  font-size: 35px;
}


.bl-popup-btn-call {
  display: flex;
  width: 200px;
  margin: 20px 0;
  padding: 18px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 20px;
  background-color: #29606d;
  color: white;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.bl-popup-btn-call i {
  color: white;
  font-size: 25px;
}

.bl-popup-btn-call:hover {
  background-color: #358395;
}

.bl-close-btn {
  background: transparent;
  color: black;
  border: none;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 40px;
}

.bl-container {
    width: 100%;
    font-family: "Poppins", sans-serif;
}

/* HERO SECTION */
.bl-hero {
    position: relative;
    width: 100%;
}

.bl-bg {
    width: 100%;
    height: 625px;
    object-fit: cover;
    display: block;
    margin-top: 75px;
}

/* BUTTON */
.bl-btn {
    background: linear-gradient(to right, #f6a04d, #ffb347);
    border: none;
    padding: 12px 30px;
    color: white;
    font-weight: 600;
    border-radius: 30px;
    cursor: pointer;
    font-size: 35px;
    position: absolute;
    bottom: 310px;
    right: 190px;
}

.bl-btn:hover {
    background: linear-gradient(to right, #ffb347, #f6a04d);
}

/* DESCRIPTION SECTION */
.bl-description {
    position: relative;
    padding-left: 52px;
    font-size: 33px;
    line-height: 1.4;
    text-align: left;
    width: 972px;
}

/* LEAF IMAGE */
.bl-leaf {
    position: absolute;
    right: -200px;
    bottom: -15px;
    width: 195px;
}


/* bl-details section  */
.bl-details {
    width: 100%;
    padding: 20px 20px;
    font-family: "Georgia", serif;
    text-align: center;
}

/* TITLE */
.bl-title {
    font-size: 45px;
    margin-bottom: 30px;
}

.bl-title span {
    color: #f6a04d
}

/* MAIN BOX */
.bl-box {
    width: 900px;
    margin: 0 175px;
    background: #ffffff;
    border: 1px solid black;
    padding: 30px;
}

/* ROW */
.bl-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    text-align: left;
    padding: 28px 0;
}

.bl-row img {
    width: 150px;
    height: 200px;
}

.bl-d-text {
    width: 585px;
}

.bl-row h3 {
    font-size: 30px;
    margin-bottom: 8px;
    font-weight: 600;
}

.bl-row p {
    font-size: 22px;
    color: #555;
    line-height: 1.6;
}

.bl-row-reverse h3 {
    font-size: 30px;
    margin-bottom: 8px;
    font-weight: 600;
    text-align: right;
}

.bl-row-reverse p {
    font-size: 22px;
    color: #555;
    line-height: 1.6;
    text-align: right;
}

/* Divider */
hr {
    border: none;
    border-top: 1px solid black;
}

/* fybf section */

.bl-fybf-section {
    width: 100%;
    padding: 40px 20px;
    text-align: center;
}

/* TITLE */
.bl-fybf-title {
    font-size: 52px;
    margin-bottom: 60px;
    border-bottom: 1px solid black;
    width: 620px;
    padding-bottom: 18px;
    margin-left: 310px;
}

.bl-fybf-title span {
    color: #f6a04d;
}

/* CONTAINER */
.bl-fybf-container {
    width: 885px;
    margin: 0px 190px;
}

/* ROW */
.bl-fybf-row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 0;
    gap: 50px;
}

.bl-fybf-row img {
    width: 200px;
}

.bl-fybf-row h3 {
    width: 757px;
    font-size: 40px;
    font-weight: 600;
}

.bl-fybf-row:not(.bl-fybf-row-reverse) h3 {
    text-align: left;
}

.bl-fybf-row-reverse h3 {
    text-align: right;
}

/* STRING IMAGES */
.bl-fybf-string {
    display: block;
    width: 220px;
    margin: 0 auto;
}

/* f SECTION */
/* SECTION */
.bl-f-section {
    width: 100%;
    padding: 60px 80px;
    box-sizing: border-box;
}

/* MAIN CONTAINER */
.bl-f-container {
    display: flex;
    border: 1px solid #bdbdbd;
    background: #ffffff;
}

/* LEFT SIDE */
.bl-f-left {
    width: 50%;
    background: #e8dfcf;
    padding: 60px;
    box-sizing: border-box;
    border: 1px solid black;
}

.bl-f-title {
    font-size: 42px;
    color: #0f5c63;
    margin-bottom: 30px;
    line-height: 1.2;
}

.bl-f-subtitle {
    font-size: 22px;
    color: #333;
    line-height: 1.6;
    max-width: 520px;
}

/* RIGHT SIDE */
.bl-f-right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    border: 1px solid black
}

.bl-f-right img {
    width: 100%;
    max-width: 450px;
    height: auto;
}

/* BUTTONS */
.bl-f-btn-wrapper {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 60px;
}

.bl-f-btn {
    padding: 35px 35px;
    font-size: 25px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    font-weight: 600;
}

/* APPLY BUTTON */
.bl-f-apply {
    background: #f29c1f;
    color: #fff;
}

.bl-f-apply:hover {
    background: #f17806;
}

/* CONTACT BUTTON */
.bl-f-contact {
    background: #0f5c63;
    color: #fff;
}

.bl-f-contact:hover {
    background: #227a8e;
}