.sl-hero {
    position: relative;
    width: 100%;
    height: 670px;
    margin-top: 80px;
}

/* Background Image */
.sl-bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Apply Button */
.sl-btn {
    position: absolute;
    bottom: 80px;
    left: 450px;
    padding: 15px 50px;
    font-size: 35px;
    font-weight: 600;
    border: none;
    border-radius: 40px;
    background: linear-gradient(to right, #0b8a8a, #63c56e);
    color: white;
    cursor: pointer;
    transition: 0.3s ease;
}

.sl-btn:hover {
    opacity: 0.9;
}

/* ep-section */

.ep-section {
    width: 100%;
    padding: 30px 0;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Title */
.ep-title {
    font-size: 70px;
    font-weight: 700;
    margin-bottom: -2px;
    color: #0b6b6b;
    border-bottom: 2px solid black;
    margin-left: 10px;
    width: 820px;
    padding-bottom: 15px;
}

.ep-title span {
    color: #f39c12;
}

/* Subtitle */
.ep-subtitle {
    font-size: 30px;
    text-align: center;
    width: 930px;
    margin-bottom: 30px;
    color: #333;
}

/* Main Box */
.ep-box {
    width: 990px;
    border: 2px solid #cfcfcf;
}

/* Rows */
.ep-row {
    display: flex;
    align-items: center;
    gap: 35px;
    padding: 20px;
    border-bottom: 1px solid #cfcfcf;
}

.ep-row-rev {
    display: flex;
    align-items: center;
    gap: 35px;
    padding: 20px;
    border-bottom: 1px solid #cfcfcf;
    text-align: right;
}

.ep-row img {
    width: 200px;
    height: 180px;
    object-fit: contain;
}

.ep-row-rev img {
    width: 200px;
    height: 180px;
    object-fit: contain;
}

.ep-row h3 {
    font-size: 35px;
    margin-bottom: 6px;
    font-weight: 600;
}

.ep-row-rev h3 {
    font-size: 35px;
    margin-bottom: 6px;
    font-weight: 600;
}

.ep-row p {
    font-size: 20px;
    color: #555;
    line-height: 1.5;
}

.ep-row-rev p {
    font-size: 20px;
    color: #555;
    line-height: 1.5;
}


/* section */

.sa-section {
    width: 100%;
    padding: 20px 0;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Title */
.sa-title {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 56px;
    text-align: center;
    color: #0b6b6b;
    border-bottom: 2px solid black;
    padding-bottom: 20px;
    width: 850px;
}

.sa-title span {
    color: #f39c12;
}

/* Container */

.sa-container {
    width: 900px;
    position: relative;
}

/* Step */
.sa-step {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 60px;
    width: 100%;
}

/* Left Steps */
.sa-step-left {
    display: flex;
    text-align: left;
    gap: 90px;
}

/* Right Steps */
.sa-step-right {
    display: flex;
    text-align: right;
    gap: 90px;
}

/* Icon */
.sa-img {
    width: 210px;
    height: 200px;
    object-fit: contain;
}

/* Text */
.sa-step-left h3 {
    font-size: 35px;
    margin-bottom: 6px;
    font-weight: 600;
}

.sa-step-right h3 {
    font-size: 35px;
    margin-bottom: 6px;
    font-weight: 600;
}

.sa-step-left p {
    font-size: 25px;
    color: #555;
    width: 635px;
    line-height: 1.5;
}

.sa-step-right p {
    font-size: 25px;
    color: #555;
    width: 635px;
    line-height: 1.5;
}

.sa-string-1 {
    position: relative;
    width: 170px;
    object-fit: contain;
    left: 195px;
    top: 15px;
}


.sa-string-2 {
    position: relative;
    width: 200px;
    object-fit: contain;
    left: 575px;
    top: 5px;
}


.sa-string-3 {
    position: relative;
    width: 165px;
    object-fit: contain;
    left: 196px;
    top: 10px;
}


.sa-string-4 {
    position: relative;
    width: 210px;
    object-fit: contain;
    left: 525px;
    top: 8px;
}


.sa-string-5 {
    position: relative;
    width: 185px;
    object-fit: contain;
    left: 170px;
}

/* Section */

.bl-loan {
    width: 100%;
    background: white;
    padding: 50px 0;
}

/* Container */
.l-container {
    width: 1000px;
    margin: 0px 135px
}

/* Content layout */
.l-content {
    display: flex;
    align-items: center;
}

/* Image */
.l-image img {
    width: 535px;
    height: 520px;
}

/* Buttons wrapper */
.l-buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    right: 205px;
}

/* Base button */
.l-btn {
    padding: 35px 0px;
    border: none;
    border-radius: 30px;
    font-size: 25px;
    font-weight: 600;
    cursor: pointer;
    color: white;
    width: 440px;
    text-align: center;
    transition: 0.3s;
}

/* Colors */
.l-btn-orange {
    background: #f59c2f;
}

.l-btn-orange:hover {
    background: #e5891f;
}

.l-btn-teal {
    background: #0e6b6f;
}

.l-btn-teal:hover {
    background: #0b5a5d;
}

/* Responsive */
@media (max-width: 768px) {
    .l-content {
        flex-direction: column;
        text-align: center;
    }

    .l-image img {
        width: 250px;
    }

    .l-btn {
        width: 100%;
    }
}