/* .about-khushi {
  background: #29606d;
  color: white;
}

.about-container {
  border: 2px solid white;
  height: 240px;
}

.about-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  gap: 30px;
}

.coin_image img {
  width: 45px;
}

.about-text {
  width: 900px;
  text-align: center;
}

.about-text p {
  font-size: 31px;
  width: 736px;
  position: absolute;
  top: 5765px;
  left: 360px;
}

.link-groups {
  display: flex;
  justify-content: center;
  /* margin-top: 40px; */
/* gap: 200px; */
/* border-bottom: 2px solid white;
  cursor: pointer;
} */

/* .link-groups ul {
  list-style: none;
  padding: 0;
}

.links-title h2 {
  font-size: 32px;
  margin-bottom: -10px;
}

.services-title h2 {
  font-size: 30px;
  margin-bottom: -9px;
}

.quick-links {
  border-right: 3px solid white;
  padding: 0px 150px;
  position: relative;
  right: 150px;
} */

/* .services-links {
  padding: 0px 135px;
} */

/* .quick-links li {
    margin-left: 30px;
    position: relative;
    padding-left: 30px;
    margin-bottom: 5px;
    font-size: 25px;
  }

  .services-links li {
    margin-left: 30px;
    position: relative;
    padding-left: 30px;
    margin-bottom: 5px;
    font-size: 29px;
    width: 258px;
  }

  .services-links li::before,
  .quick-links li::before {
    content: "•";
    position: absolute;
    left: 0;
    top: 0;
    color: white;
    font-size: 32px;
    line-height: 1;
  }

  .contactUs {
    margin-top: 30px;
    text-align: -webkit-center;
    border-bottom: 2px solid white;
  }

  .contactUs h3 {
    font-size: 30px;
    font-weight: 500
  }

  .contactUs p.lo {
    margin-top: -20px;
    font-size: 20px;
    width: 177px;
  }

  .contactUs p.ph {
    margin-top: -20px;
    font-size: 21px;
  }

  .contactUs p.em {
    font-size: 20px;
    margin-top: -15px;
  }

  .footer-bottom {
    padding: 5px;
    background: #29606d;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
  } */


.about-khushi {
  background: #29606d;
  color: white;
  position: relative;
}

.about-container {
  border: 2px solid white;
  height: 240px;
  position: relative;
}

.about-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  gap: 30px;
}

.coin_image img {
  width: 45px;
}

.about-text {
  width: 900px;
  text-align: center;
  position: relative;
}

.about-text p {
  font-size: 31px;
  width: 736px;
  position: absolute;
  top: -50px;
  left: 360px;
}

.link-groups {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid white;
  cursor: pointer;
  position: relative;
}

.link-groups ul {
  list-style: none;
  padding: 0;
}

.links-title h2 {
  font-size: 32px;
  margin-bottom: -10px;
}

.services-title h2 {
  font-size: 30px;
  margin-bottom: -9px;
}

.quick-links {
  border-right: 3px solid white;
  padding: 0px 150px;
  position: relative;
  right: 150px;
}

.quick-links li {
  margin-left: 30px;
  position: relative;
  padding-left: 30px;
  margin-bottom: 5px;
  font-size: 25px;
  line-height: 1.3;
}

.services-links li {
  margin-left: 30px;
  position: relative;
  padding-left: 30px;
  margin-bottom: 5px;
  font-size: 29px;
  width: 258px;
}

.services-links li::before,
.quick-links li::before {
  content: "•";
  position: absolute;
  left: 0;
  top: 0;
  color: white;
  font-size: 32px;
  line-height: 1;
}

.contactUs {
  margin-top: 30px;
  text-align: -webkit-center;
  border-bottom: 2px solid white;
  position: relative;
  line-height: 1.7;
}

.contactUs h3 {
  font-size: 30px;
  font-weight: 500
}

.contactUs p.loc {
  margin-top: -30px;
  font-size: 20px;
  width: 530px;
}

.contactUs p.ph {
  margin-top: -20px;
  font-size: 21px;
}

.contactUs p.em {
  font-size: 20px;
  margin-top: -15px;
}

.fa-location-dot,
.fa-phone,
.fa-envelope {
  margin-right: 10px;
}

.footer-bottom {
  padding: 1px;
  background: #29606d;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}

@media (max-width: 1024px) {
  .about-container {
    height: auto;
    padding: 15px;
  }

  .about-text {
    width: 100%;
  }

  .about-text p {
    width: 90%;
    font-size: 24px;
    position: static;
    margin: 0 auto;
  }

  .link-groups {
    flex-wrap: nowrap;
    /* keep side by side */
    align-items: flex-start;
  }

  .quick-links {
    padding: 0px 60px;
    right: 60px;
  }

  .services-links {
    padding: 0px 20px;
    line-height: 1.5;
  }

  .quick-links li,
  .services-links li {
    font-size: 22px;
  }

  .services-links li {
    width: auto;
  }

  .contactUs {
    margin-top: -10px;
  }

  .contactUs p.loc {
    width: 90%;
  }

  .footer-bottom {
    font-size: 14px;
    padding: 5px;
  }
}

@media (max-width: 767px) {
  .about-container {
    height: auto;
    padding: 10px 10px;
  }

  .about-title {
    font-size: 20px;
    gap: 10px;
  }

  .coin_image img {
    width: 32px;
  }

  .about-text {
    width: 100%;
  }

  .about-text p {
    font-size: 15px;
    width: 100%;
    margin-top: -10px;
  }

  /* Keep Quick Links & Services side by side on mobile */
  .link-groups {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: center;
    overflow-x: auto;
  }

  .quick-links {
    padding: 0px 20px;
    right: 0;
    border-right: 2px solid white;
    flex-shrink: 0;
  }

  .services-links {
    padding: 0px 20px;
    line-height: 1.3;
  }

  .quick-links li,
  .services-links li {
    font-size: 16px;
    padding-left: 20px;
    margin-left: 10px;
    margin-bottom: 4px;
  }

  .services-links li::before,
  .quick-links li::before {
    content: "•";
    position: absolute;
    left: 0;
    top: 0;
    color: white;
    font-size: 18px;
    line-height: 1;
  }



  .links-title h2 {
    font-size: 20px;
  }

  .services-title h2 {
    font-size: 20px;
  }

  .contactUs h3 {
    font-size: 22px;
  }

  .contactUs p.loc {
    font-size: 16px;
    width: 90%;
    margin-top: -15px;
  }

  .contactUs p.ph,
  .contactUs p.em {
    font-size: 16px;
  }

  .footer-bottom {
    font-size: 14px;
    padding: 5px;
  }
}

@media (max-width: 480px) {
  .about-title {
    font-size: 12px;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .coin_image img {
    width: 26px;
  }

  .about-text p {
    font-size: 15px;
    margin-top: 0px;
  }

  .quick-links {
    padding: 0 12px;
  }

  .services-links {
    padding: 0 12px;
  }

  .quick-links li,
  .services-links li {
    font-size: 13px;
    padding-left: 15px;
    margin-left: 5px;
  }

  .services-links li::before,
  .quick-links li::before {
    content: "•";
    position: absolute;
    left: 0;
    top: 0;
    color: white;
    font-size: 18px;
    line-height: 1;
  }

  .links-title h2,
  .services-title h2 {
    font-size: 16px;
  }

  .contactUs {
    margin-top: 16px;
    line-height: 0;
  }

  .contactUs h3 {
    font-size: 18px;
  }

  .contactUs p.loc,
  .contactUs p.ph,
  .contactUs p.em {
    font-size: 10px;
    margin-top: -5px;
  }

  .footer-bottom {
    font-size: 6px;
    padding: 5px;
  }
}