.fp-container {
  font-family: "Segoe UI", sans-serif;
  color: #333;
}


.fp-hero {
  min-width: 100vh;
  min-height: 100vh;
}


.fp-hero-content {
  width: 100%;
  height: 955px;
  background-size: cover;
  background-position: center 45px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 80px;
}

.logoimg {
  width: 75px;
  margin-bottom: 16px;
  margin-left: 155px;
}

.fp-hero-content h1 {
  font-size: 54px;
  font-weight: 500;
  line-height: 1.3;
  color: white;
  margin: 0;
  text-align: center;
}


.fp-hero-overlay p {
  font-size: 25px;
  line-height: 1.5;
  margin-top: 15px;
  text-align: center;
}

/* what is financial planning*/
.fp-section {
  width: 100%;
  margin: 50px 0;
}

.fp-section-title {
  width: 100%;
  height: 604px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: baseline;
  border-top: 1px solid #c27f39;

}

.fp-section-title h2 {
  position: relative;
  font-size: 53px;
  font-weight: 600;
  color: #2b5f6a;
  line-height: 1.2;
  left: 77px;
  top: 70px;
  width: 409px
}

.fp-text-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  background: #fff;
  position: relative;
  padding: 42px 0px;
}

.human {
  width: 500px;
  height: 600px;
}

.fp-text {
  font-size: 30px;
  line-height: 1.6;
  color: #4a4a4a;
  font-family: "Georgia", serif;
  width: 720px;
  position: relative;
  right: 33px;
  bottom: 30px;
  text-align: end;
  line-height: 1.2;
}


.fp-text span {
  color: #e58a2a;
  display: block;
  margin-top: 20px;
  font-size: 30px;
  font-weight: 500
}

.leaf {
  width: 259px;
  height: 522px;
}


/* Who is this for */
.fp-section-light {
  border-bottom: 2px solid #c27f39;
  ;
}

.fp-section-image {
  width: 100%;
  margin-top: -55px;
}

.fp-light-title {
  text-align: center;
  font-size: 45px;
  color: #29606d;
  margin-bottom: 50px;
  position: relative;
  font-weight: 400;
  top: 15px;
}

.fp-light-title::after {
  content: "";
  width: 370px;
  height: 3px;
  background-color: #c27f39;
  display: block;
  margin: 12px auto 0
}

.fp-list {
  display: flex;
  flex-direction: column;
  gap: 34px;
  width: 900px;
  margin: 60px 185px;
}

.fp-item {
  display: flex;
  align-items: center;
  gap: 28px;
}

.fp-icon {
  width: 100px;
  height: 100px;
  object-fit: contain;
}


.fp-item p {
  font-size: 35px;
  color: #29606d;
  margin: 0;
  font-weight: 600;
}

.fp-item p.highlight {
  color: #f19a16;
}


/* Cards */
.fp-approch {
  width: 100%;
}

.fp-approch h2 {
  text-align: center;
  font-size: 45px;

}

.fp-cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 980px;
  margin-left: 155px;
}

.fp-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 102px;
  background: #ffffff;
  border: 1.5px solid #8bb6bc;
  padding: 35px 46px;
  margin-bottom: 30px
}

.fp-im img {
  width: 271px;
  height: 200px;
}

.fp-app-text {
  max-width: 600px;
}

.fp-card h3 {
  font-size: 25px;
  color: #f2a900;
}

.fp-card p {
  font-size: 25px;
  line-height: 1.3;
  color: #333;
  margin-top: 10px;
}

.fp-card:nth-child(even) {
  flex-direction: row-reverse;
}